/*text*/
a.red{
  color: #FF0000;
}
a.bold{
  font-weight: bold;
}
/*table*/
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  padding: 5px;
}
table{
  width: 90%;
}
th#genTableQ{
  width: 60%;
}
th#genTableA{
  width: 40%;
}
/*bottons*/
div.bContainer{
  text-align: center;
}
input[type="button"]{
  width: 17%;
}
/*textarea*/
textarea{
  width: 89%;
  height: 500px;
  resize: vertical;
  overflow: auto;
}
