/*text*/
.red{
  color: #FF0000;
}
/*table*/
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  padding: 5px;
}
th#genTableQ{
  width: 60%;
}
th#genTableA{
  width: 40%;
}
/*bottons*/
div.bContainer{
  text-align: center;
}
input[type="button"]{
  width: 19%;
  min-width: 91px;
}
/*text field*/
textarea{
  height: 300px;
  resize: vertical;
  overflow: auto;
}
input{
  width: 98%;
}
/*other*/
.fullWidth{
  width: 100%;
}
